/node_modules
/vendor
/.env
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/*
/bootstrap/cache/*
/public/build/*
.git
.gitignore
.gitattributes
.github
.dockerignore
.env.*
*.md
Dockerfile
docker-compose.yml
render.yaml
vercel.json
dist
tests
phpunit.xml
