name: Deploy Laravel 11

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          command_timeout: 20m
          script: |
            cd /opt/just-atesting

            git fetch origin
            git reset --hard origin/main

            composer install --no-dev --optimize-autoloader --no-interaction

            npm ci
            npm run build

            php artisan migrate --force
            php artisan db:seed --force

            php artisan optimize:clear
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache