name: Deploy Laravel 11

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /opt

            if [ ! -d "just-atesting" ]; then
              git clone git@github.com:HugoEdmoundo/payroll-app.ptpsf.git just-atesting
            fi

            cd just-atesting
            git pull origin main
            
            composer install --no-dev --optimize-autoloader

            php artisan config:cache
            php artisan route:cache
            php artisan view:cache

            chown -R www-data:www-data /opt/just-atesting