name: Deploy Laravel 11

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3

      - name: Install Composer Dependencies
        run: composer install --no-dev --optimize-autoloader

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install NPM
        run: npm ci

      - name: Build Assets
        run: npm run build

      - name: Zip Project
        run: zip -r release.zip . -x "node_modules/*" ".git/*"

      - name: Upload to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "release.zip"
          target: "/opt/"

      - name: Unzip on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            rm -rf /opt/just-atesting
            mkdir /opt/just-atesting
            unzip /opt/release.zip -d /opt/just-atesting
            rm /opt/release.zip
            cd /opt/just-atesting
            chown -R www-data:www-data storage bootstrap/cache
            php artisan migrate --force